---
import Background from "../components/Background.astro";
import Layout from "../layouts/Layout.astro";
import { getWorks } from "../scripts/contentful";
const works = await getWorks();
---

<Layout title="Escentier">
  <!-- <div class="fixed" id="bg-canvas-container"></div> -->
  <main class="min-h-screen"></main>
  <Background works={works} />
  <!-- {
    entries.map((item) => (
      <section class="text-white hidden">
        <h2>{item.fields.title}</h2>
        <article set:html={documentToHtmlString(item.fields.content)} />
        <img src={`http:${(item as any).fields.preview.fields.file.url}`} />
      </section>
    ))
  } -->
  <div class="text-white">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
    molestiae ipsum corporis aliquid, maxime rerum soluta iure pariatur
    perspiciatis explicabo maiores voluptatibus dolor magni eveniet optio
    dolorum rem inventore blanditiis. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Doloremque consequatur, fugiat asperiores praesentium
    porro, illo distinctio ipsum aspernatur quia sed veniam maiores inventore
    nesciunt iste veritatis architecto soluta autem vel? Deserunt dolorem
    blanditiis corporis perspiciatis? Distinctio quasi temporibus asperiores
    aliquam, pariatur corporis explicabo atque necessitatibus et officia vitae
    culpa amet saepe eum nisi possimus, omnis blanditiis officiis commodi
    impedit! Ex. Deserunt ducimus nihil nobis veniam laudantium eveniet
    distinctio vitae quo ipsa facere veritatis sint eaque accusantium, autem
    nemo incidunt beatae, a ipsam, dolores magni officia! Nobis tempore maxime
    porro architecto? Ex veniam labore iste quasi voluptatum sapiente reiciendis
    reprehenderit. Recusandae iure deserunt neque totam earum necessitatibus
    cum, delectus voluptatem molestiae accusamus nostrum odit ut fuga
    consequatur architecto cupiditate! Libero, excepturi. Non quae asperiores
    dolore provident adipisci iure quos quibusdam cumque debitis! Fugiat, minus
    ab unde rerum nemo repudiandae earum necessitatibus nam quasi? Quae sit
    officia mollitia amet impedit eius hic! Incidunt reiciendis exercitationem
    repellendus obcaecati dolorem dolores autem tempore sint, placeat velit,
    fugiat dicta rerum repudiandae nesciunt saepe inventore quisquam, ratione a
    dignissimos veniam soluta. Error veritatis debitis laborum architecto. Atque
    error tenetur ipsum fugit nam totam adipisci similique labore cumque sed
    officia iure quis excepturi, delectus ratione iusto vero illo itaque, odit
    doloremque earum quisquam vitae asperiores blanditiis? Rerum. Error ipsum
    necessitatibus, doloribus, odit consequuntur voluptatum labore corrupti
    vitae asperiores officiis sed voluptatibus odio iusto ipsam iste repellendus
    dicta nostrum suscipit. Eligendi repellendus aliquam obcaecati optio, qui
    provident sit. Ullam esse, voluptates aliquid laborum voluptatum corrupti
    atque vero modi! Nemo, nam officiis laborum debitis earum sunt, ducimus
    eligendi necessitatibus dicta voluptates eum mollitia ea tenetur voluptatem
    quisquam error itaque! Iure quasi asperiores incidunt in nostrum earum
    dignissimos laudantium error, debitis adipisci aliquid quod eligendi ad
    distinctio magnam quo obcaecati. Explicabo possimus, eaque vitae minima
    dolor rerum doloremque laboriosam blanditiis! Aut sint voluptatem fugit
    consequuntur enim rerum architecto. Est consectetur voluptas doloremque
    error aliquid expedita asperiores repellendus, sapiente deserunt molestias
    quas nostrum animi aspernatur atque vitae magnam eveniet ipsa nobis! Impedit
    id quae inventore deserunt consequatur aperiam odio culpa illo animi
    corporis molestias odit a quas nesciunt dolorem esse repellendus repudiandae
    ab natus, saepe tenetur, alias, cum distinctio. Optio, similique? Facilis
    dignissimos non ratione illum molestias voluptatum est, suscipit delectus
    laudantium molestiae culpa itaque atque ullam quas ut facere id placeat
    iste, voluptatem doloremque maxime expedita velit totam. Aspernatur,
    commodi! Commodi est aliquid quisquam nisi accusamus sint distinctio dolorem
    nulla cumque et tempore culpa quia voluptate suscipit alias ipsum omnis nam
    dolor, cupiditate doloremque. Totam, odit fugiat. Possimus, dolore eligendi!
    Sapiente voluptatum sunt at dignissimos doloribus omnis incidunt natus,
    culpa mollitia cupiditate assumenda commodi hic possimus odio repudiandae
    facilis corrupti quisquam recusandae itaque eius. Dolores fugiat fugit at
    cumque tempora! Sequi voluptate possimus ipsam fugiat, dolorem consequuntur
    accusantium soluta earum voluptas minus aut tempora excepturi vero rerum
    quam esse quod eligendi molestiae nam, eaque, impedit reiciendis a iure.
    Necessitatibus, debitis. Nihil enim animi inventore dolorem tempore?
    Aliquam, soluta! Nam, excepturi debitis velit iure repellat consequuntur
    nobis aspernatur optio quibusdam, quos ab repellendus eius accusantium sit
    ducimus facilis officia itaque ipsum. Odio modi sapiente eum rerum facilis
    facere error quae iusto quidem, voluptatem quia sunt magni quasi non
    incidunt harum sint pariatur, libero, vel est tempora dignissimos laudantium
    nam! Ipsa, laboriosam. Hic facere eaque dolorum suscipit ex? Dolorum sit
    expedita rerum quam accusantium assumenda, voluptatibus doloremque
    necessitatibus eos similique sequi, molestias iusto tempore aspernatur
    delectus alias earum veritatis soluta ad nulla? Id, ex sed iusto
    necessitatibus sit est aut qui aperiam unde enim quo doloremque animi iste
    maiores sequi! Eveniet odio animi perspiciatis culpa! Velit culpa sequi
    inventore exercitationem blanditiis optio. Est ipsa tempore veritatis, sit
    laudantium nisi numquam ea corporis non aliquam dolores quasi earum
    consequatur voluptatem inventore eos rerum tenetur, quas cupiditate labore
    beatae repellendus veniam maiores. Beatae, architecto? Placeat, ipsum. Quas,
    nisi. Vero eveniet beatae labore quaerat perspiciatis repudiandae placeat,
    voluptatibus iste cupiditate totam voluptate animi facilis excepturi
    similique saepe doloribus perferendis deserunt molestiae voluptatum! Qui,
    reiciendis placeat! Eius voluptatem veritatis officiis doloribus earum
    voluptatibus, eligendi nihil assumenda suscipit debitis magnam minima fuga
    vel minus? Nihil odit quibusdam nobis! Nemo eligendi reiciendis minima
    error! Neque hic iure voluptate? Accusantium natus saepe iure eveniet.
    Repellendus totam, ratione aliquid amet at possimus quidem atque saepe
    delectus quis voluptas cumque nulla hic! Excepturi iure voluptas commodi,
    animi quisquam rem voluptate accusantium. Quod sint alias soluta quaerat
    vero, saepe numquam assumenda provident ducimus optio totam unde, molestias
    aliquid ea reprehenderit. Numquam nostrum recusandae cum animi voluptate
    veniam veritatis rerum, expedita doloremque. Eos! Eum ipsum quisquam quam
    explicabo illum! Voluptatem enim eveniet dolorem dolores minima, assumenda
    ab nobis ipsa! Doloremque ratione exercitationem magni at, totam voluptatum
    voluptas, ducimus reprehenderit quia, odit eos et! Ipsam delectus maiores,
    praesentium labore velit voluptatum minima cupiditate amet soluta quis
    aliquid placeat, voluptas debitis. Impedit necessitatibus recusandae quae
    nisi consequatur, repellat saepe facere, expedita dolor, ipsam consequuntur
    voluptates. Rerum accusamus atque iste tempora saepe illo reprehenderit
    aspernatur ratione temporibus impedit cumque provident quis, earum non quas
    neque maxime iusto sapiente optio exercitationem doloribus recusandae
    eligendi inventore? Accusantium, similique. Voluptatum iure molestias
    impedit fugiat suscipit praesentium consequuntur quos sed necessitatibus, et
    esse blanditiis corporis quo, veniam id rerum earum illo veritatis mollitia
    perferendis doloribus enim expedita provident. Ex, tempore. Magni non
    impedit, ad at officiis reprehenderit reiciendis quidem consequuntur
    explicabo velit aspernatur odio eligendi suscipit neque distinctio, harum
    dolor sapiente temporibus repudiandae tenetur placeat facilis? Blanditiis
    optio accusantium vel. Quaerat a ipsa, nostrum distinctio laudantium tempora
    alias. Et commodi corrupti numquam impedit doloremque consequatur placeat
    sit. Cum rerum minus commodi maiores laudantium, fugit, expedita earum
    deleniti saepe aliquam veniam. Architecto sit, repellendus suscipit cumque
    aliquid odio. Repellendus quos ad fuga vitae asperiores tempore. Vero, iure
    sequi sint laboriosam, pariatur eius sit provident unde quod ratione facere
    veritatis ut tempore. Asperiores sapiente voluptate soluta placeat unde
    iusto labore eaque reprehenderit quos ipsum quam aliquid eum alias eveniet,
    ut natus minus? Optio quas asperiores dolorem dolores sed est voluptatum
    architecto cum. Provident unde vitae quam eius omnis praesentium dolorem
    quod doloremque accusantium rem soluta est reiciendis veritatis quaerat,
    laboriosam cupiditate! Pariatur unde neque adipisci corrupti architecto
    molestias libero corporis nihil maxime? Doloribus quis, odit rem iure
    laudantium facere quaerat accusamus possimus vero enim? Fugiat corporis aut
    harum saepe architecto accusantium enim dolor, quam ipsam numquam
    perspiciatis? Ex recusandae delectus ut in. Nihil quo ex, iste aliquid, quas
    itaque pariatur a dolore repellat repellendus perspiciatis iure doloremque
    nesciunt cumque maiores facere doloribus eligendi quaerat praesentium.
    Soluta eos illo cum delectus rem aperiam? Necessitatibus velit nihil
    voluptatem ex, consequatur explicabo. Assumenda illo culpa sunt quod
    deleniti consequuntur iusto dignissimos, id minus soluta recusandae eaque
    natus voluptatibus. Molestiae hic consectetur beatae provident iste
    mollitia. Ipsa suscipit est optio, eum saepe eveniet corrupti provident
    dicta labore, aperiam voluptatem ducimus! Qui quod velit debitis deserunt,
    sapiente aut dolore voluptate totam cum ducimus, quas, reiciendis rem
    aperiam. Dolore fugiat quas nihil libero. Dolore nisi dolorum voluptates?
    Error, doloremque repellendus rem nemo alias consequuntur consequatur fugiat
    eos corporis? Deserunt voluptatem possimus laboriosam. Architecto quis
    magnam inventore laboriosam rerum! Quas officiis, dicta sequi vitae saepe
    porro consequuntur? Sapiente, reprehenderit delectus! Distinctio, quos
    quaerat, ut quidem repellat perspiciatis nulla, ab dolorum fuga adipisci
    esse temporibus architecto tenetur accusamus harum et. Voluptas laboriosam
    corporis deleniti soluta ipsum voluptates voluptatem officia quis
    voluptatum, alias temporibus iste atque corrupti earum est neque molestias
    dignissimos asperiores exercitationem libero. Explicabo, quam atque!
    Commodi, fugit deleniti? Quam optio reiciendis itaque, praesentium
    doloremque vitae quia earum libero quos expedita eius dolorum nesciunt magni
    facilis minus dolore? Officiis omnis qui velit, quibusdam ducimus rem
    quaerat quas corporis dolor. Accusamus voluptatem, commodi corrupti modi
    illo, quisquam nostrum ea, ratione debitis itaque tenetur aperiam.
    Consequuntur veritatis molestiae ipsum aperiam itaque hic accusantium minus
    tempore ad sed harum, doloremque repellendus quos. Veritatis officia
    recusandae ipsam omnis sit, minus rem at laboriosam neque impedit nobis
    voluptas, eos perspiciatis saepe inventore provident facere consequatur!
    Error blanditiis molestiae quae quas modi perspiciatis quo consequuntur.
    Quod deserunt nesciunt aspernatur unde asperiores! Provident distinctio
    reiciendis beatae non totam accusantium suscipit voluptatum nobis dolorum,
    nostrum repellendus explicabo doloremque placeat similique alias tempora,
    tempore quos, nisi adipisci sed? Unde aperiam similique dolorum autem!
    Molestias eos inventore possimus quisquam deleniti unde et temporibus. Dicta
    consequatur, quis recusandae suscipit, ipsum iusto consequuntur qui earum
    sit maiores illo doloremque doloribus rerum. Rem nostrum doloremque facilis
    perferendis harum reiciendis perspiciatis veritatis eveniet cupiditate
    libero molestias dolor praesentium ullam laborum, ab repudiandae blanditiis
    odio vero neque quae natus placeat beatae non cumque? Laborum! Totam
    perspiciatis non neque culpa beatae architecto inventore asperiores ex
    eligendi temporibus cumque corrupti voluptas quas doloremque, unde itaque
    facere molestiae delectus adipisci dolore! Voluptatibus veritatis ex
    blanditiis mollitia aliquam. Dolores dignissimos mollitia deleniti ut animi
    quae ipsum eaque atque commodi placeat fuga et, incidunt in, quaerat, beatae
    explicabo. Excepturi laborum hic id fugiat nihil reprehenderit sequi quos
    natus repudiandae! Fugit facere facilis nostrum explicabo exercitationem,
    quae ipsam delectus soluta id nulla aliquam eligendi quas, quisquam earum!
    Autem quisquam recusandae, amet cupiditate quaerat sed tenetur tempore
    ratione deserunt, magnam repellat. Vitae eligendi ipsum totam consectetur
    tempore enim sed corrupti sequi quod sint nam exercitationem, distinctio
    laboriosam? Labore neque est eligendi incidunt, deserunt doloribus, libero
    qui, consequatur quis blanditiis nisi? Perspiciatis. Aperiam qui quisquam
    earum sunt illo? Officia eius voluptates atque magni sint suscipit debitis,
    at facilis architecto aspernatur, magnam corporis soluta aut doloribus enim
    nihil aliquid excepturi! Deserunt, fugiat tempora. Praesentium id ipsa eos
    eaque, labore quia voluptas adipisci velit blanditiis omnis magni autem
    dolorum? Tempore nesciunt quidem mollitia, repudiandae suscipit
    voluptatibus, adipisci distinctio libero ipsa atque blanditiis ut nobis.
    Beatae quos at reiciendis dolore nesciunt nihil temporibus sed consectetur,
    repudiandae, sunt vitae natus in modi maiores dolores nulla enim aliquam.
    Culpa molestias consequuntur laudantium neque harum veniam est cupiditate.
    Doloremque numquam voluptates sequi explicabo, quisquam accusantium,
    molestias maxime ut unde assumenda, neque et necessitatibus nesciunt quidem
    amet in alias suscipit quis cumque culpa nobis similique. Veniam quae quia
    ratione. In enim dolores maiores odio non id eos deserunt maxime architecto?
    Similique harum, optio nesciunt quam quo iste explicabo deserunt aspernatur
    ducimus? Impedit consectetur voluptatum asperiores veritatis, iusto dolorem
    sunt! Saepe alias assumenda sunt aspernatur deleniti et quia veniam impedit
    facilis, provident unde modi quam quisquam rerum doloremque harum eum, nisi
    tempore nam mollitia? Labore reiciendis et odio fugit quos! Nobis, pariatur
    eveniet eius ut in laudantium, quaerat esse voluptatum quisquam nisi
    obcaecati natus ipsum repellendus quidem, tenetur consequuntur incidunt
    inventore atque ipsa molestias ratione hic. Magnam eligendi corrupti at. Et
    fuga earum dolores libero, expedita, veritatis quasi sapiente autem cum
    praesentium delectus, eaque repellendus enim ipsum voluptate porro.
    Aspernatur placeat animi recusandae? Laboriosam, molestias voluptas! Ut unde
    voluptates in. Sed corrupti aliquid illo maiores nihil est qui sunt saepe
    quos esse, distinctio cum quam quod eos consequuntur, placeat perferendis
    ipsa ullam omnis delectus corporis explicabo facilis molestias! Expedita,
    cum? Necessitatibus fuga soluta, inventore, totam architecto facere sequi
    error vel eaque repellat velit! Nostrum, quam! Aliquam qui iure labore quae,
    cupiditate blanditiis eos quaerat, a deserunt optio dolorum esse sint!
    Accusamus dolorum porro, minima vero commodi error molestias magnam ratione
    mollitia esse asperiores, ipsam harum sed nemo similique totam! Doloribus
    perferendis aliquam, sed vel non vero deserunt aspernatur saepe illo.
    Perferendis aut non dolorem, consequuntur consectetur sunt iusto ad deserunt
    obcaecati dolor sed quaerat fuga. Voluptates earum praesentium voluptatem
    harum fugiat distinctio, necessitatibus, neque nostrum tempora consequuntur
    veritatis doloribus placeat. Deleniti dolorem quos, voluptates, dolor modi
    adipisci itaque necessitatibus repellat maxime ullam sed accusantium!
    Voluptas vitae animi illum et ut nostrum quia? Ea suscipit pariatur,
    deleniti quos minus porro facere. Non debitis suscipit asperiores dolorum
    minus deserunt earum, eligendi atque quae ad. Sunt ullam asperiores, maxime
    necessitatibus modi rem, repellat iusto quod nisi laboriosam in nobis non
    harum mollitia vel! Adipisci accusamus aspernatur quod exercitationem
    incidunt deleniti? Neque nulla fugiat sit alias officiis odio facilis unde
    commodi excepturi. Rerum sapiente iste, tempore voluptatem unde magnam sint
    modi aspernatur vitae distinctio. Temporibus libero dolor aliquam veniam quo
    iure magnam, sunt porro repellat assumenda odio vero et consectetur sed
    beatae voluptates praesentium cupiditate nobis ratione blanditiis
    repellendus dicta impedit itaque. Praesentium, voluptates. Quibusdam
    recusandae tenetur quos pariatur! Accusamus modi ab delectus nulla
    cupiditate temporibus error in repellendus incidunt ut! Nemo omnis qui quasi
    ad accusantium ipsam, deleniti fuga reprehenderit eos provident quisquam.
    Dolores voluptatibus ea voluptas dolor quas consequatur magni quis.
    Excepturi omnis architecto nam perspiciatis explicabo eos consequatur sit
    accusantium ut. Quod incidunt rem veritatis mollitia sed saepe laborum iure
    architecto. Porro libero ipsam cum, asperiores, beatae excepturi iusto neque
    aliquam, minima quo harum quam dolore inventore modi illo earum sint! Natus
    aperiam quod a minima, tenetur quibusdam magnam ipsam exercitationem?
    Similique porro, inventore nostrum quas amet tempora officiis nesciunt sequi
    quidem quaerat alias autem officia nemo perspiciatis deserunt quibusdam
    veritatis soluta, cum ab nam. Expedita repellendus inventore dicta
    voluptatum ducimus? Excepturi, ex aperiam laborum voluptatibus quam culpa
    fuga sint dignissimos quibusdam unde rerum facilis facere! Atque dolore,
    amet quis quod aperiam hic porro aspernatur alias ab, nostrum, dicta quas
    eum? Saepe tempore laudantium dolorum, veritatis at eaque, in ipsam autem
    perferendis, itaque quos ea modi enim sequi nam. Ut, dolor omnis debitis
    maiores iure provident odio voluptatem veniam animi vel. Voluptatibus,
    nesciunt modi. Saepe deserunt repellendus quis error fugiat atque
    consequatur unde quasi, eius inventore officiis ratione quia soluta possimus
    magnam accusamus dolorem voluptate sequi. Vitae voluptatem odit rerum sunt!
    Enim accusamus ut architecto, reiciendis libero repellat at? Ipsa ratione
    pariatur eligendi tempore corrupti! Itaque, quidem tempora porro fugiat
    corrupti pariatur explicabo corporis velit natus ut repudiandae, ipsa
    officia laborum. Hic itaque animi ipsum earum eveniet nam dolorem delectus
    tempore, maiores sequi cupiditate numquam tenetur nemo ex! Commodi ipsum,
    voluptatibus ea, harum esse, ab ullam molestiae culpa nam fuga inventore. Et
    sequi aliquam deserunt delectus recusandae fugit, maxime veritatis unde
    dolor facere impedit! Est, numquam neque ratione ut doloribus quasi
    necessitatibus ipsum vero ullam, impedit ea quos adipisci consectetur
    sapiente. Architecto optio, facilis est tempore culpa voluptate consequuntur
    voluptates autem sint itaque odio laboriosam soluta ipsum fugiat harum
    molestias possimus eum ipsa expedita quae iure officiis accusantium esse?
    Sint, quas! Fuga tempora eligendi, voluptatem odio at asperiores modi ipsum
    vero molestias recusandae nesciunt error quos numquam maiores repudiandae
    accusantium rem inventore praesentium iure minus vel omnis? Odit commodi
    distinctio illo. Sequi aspernatur nihil nam deleniti eum rerum deserunt
    delectus tenetur eaque! Animi ut reprehenderit voluptate odit excepturi ab
    cumque et porro vel qui perspiciatis, magnam dolore dignissimos. Libero, sed
    voluptas. Delectus perferendis quis, facilis voluptas nam nobis placeat
    rerum, repudiandae iste at ab voluptates modi. Repellendus, a ut qui
    officia, earum enim at debitis suscipit, ducimus ullam facere odio ipsa?
    Animi sequi dolore voluptate iste laudantium accusantium laboriosam sapiente
    facere architecto possimus? At soluta possimus sequi velit quaerat, nihil
    neque a quia? Doloribus atque, magnam ut minus cum ipsa cupiditate? Quis
    eius ipsa aut obcaecati temporibus, minus ipsum, dicta pariatur numquam
    eveniet necessitatibus ea! Numquam nihil praesentium minima sed! Culpa vero
    nesciunt esse atque labore aliquam optio ducimus corporis delectus. Corrupti
    illo possimus ex quasi minus error ipsum at blanditiis tenetur quae,
    voluptatum autem aspernatur sunt eum nisi molestiae nesciunt, maiores
    dignissimos harum? Placeat asperiores quasi unde? Sequi, similique
    excepturi! Architecto iste nulla ipsa quae rem veniam, a sint eligendi, unde
    voluptatem suscipit perspiciatis nobis. Voluptatem quaerat, harum illo
    molestias accusamus facilis deserunt cumque voluptates modi esse, explicabo
    perspiciatis in? Ipsam aspernatur, unde eligendi exercitationem neque ipsa,
    perspiciatis quidem autem architecto quam consequatur est, dolorem
    praesentium impedit rem explicabo aut in laudantium aliquam velit vel
    deleniti? Non, asperiores. Aliquam, sapiente? Ipsa autem nam, consequatur
    nobis voluptate labore neque repellendus consectetur numquam, beatae placeat
    repudiandae nostrum itaque ex laboriosam ipsam veniam eaque sequi minus
    quos, saepe maxime tempora. Libero, laudantium consequatur. Rem reiciendis
    repudiandae et vero dolores quas voluptate assumenda deleniti sunt esse cum
    nesciunt vitae libero ducimus tempore at voluptatem laborum ad voluptatum
    molestiae ex optio eaque, tenetur ratione. Debitis? Sint fuga delectus nisi
    nobis quia optio accusamus reiciendis blanditiis fugit itaque, tempore
    laborum? Maxime magni sequi dolorem repudiandae eos quas aperiam architecto
    qui, autem veritatis expedita eligendi nisi! Vel! Mollitia, iusto minus
    deleniti quibusdam dolor quod eligendi sint? In placeat, ut est dicta
    laborum, vel labore voluptatibus cupiditate animi, consequuntur sit voluptas
    nam itaque ipsam magnam? Alias, odio obcaecati. Temporibus commodi quam
    minus explicabo rerum, sunt nostrum cupiditate odit odio. Porro tempora sit
    repudiandae enim eum fugit laudantium inventore temporibus a dolores
    aliquid, commodi reiciendis ipsam hic nam? Laborum. Necessitatibus rerum
    iure quaerat, non doloremque atque numquam eligendi mollitia suscipit
    aperiam dolor tempora saepe quod magni accusamus officiis nobis, harum in
    culpa tempore. Consectetur ab adipisci consequuntur modi voluptatibus?
    Architecto ipsum rem eos quaerat ex natus quas laborum autem quibusdam
    deleniti soluta, eum placeat eaque velit itaque aperiam incidunt illo fuga
    accusantium magnam maiores inventore qui. Officia, omnis dolor? Hic
    architecto aperiam sed labore officiis nemo soluta numquam natus at dolores
    accusamus similique nihil, aliquid tempora delectus sint harum pariatur
    quibusdam quidem modi nobis provident dolor. Qui, sapiente iste! Repudiandae
    iste, adipisci tenetur non minus corporis, aliquid laboriosam necessitatibus
    sapiente officia eaque distinctio ratione voluptatum iure ullam nam incidunt
    dolor eos praesentium quia. Officiis dolore omnis cupiditate labore eveniet?
    Error, natus fuga debitis assumenda, sapiente fugiat id eius culpa, dolore
    odio distinctio voluptates atque recusandae illo deserunt repudiandae
    eveniet nemo ullam perspiciatis unde doloribus tenetur! Voluptatem atque sed
    veniam? Totam deserunt cupiditate veniam, consequatur quam excepturi sint ad
    ut nam error consequuntur natus dolore iste labore minima ducimus sequi
    doloribus nemo fuga inventore debitis laborum libero fugit! Sint, ex!
    Recusandae, illo? Voluptate laborum officiis numquam, tempora repellendus
    nulla ex iste sit fugit laboriosam et voluptatum dolores incidunt assumenda
    mollitia harum veritatis hic recusandae? Aliquid minima blanditiis id
    reiciendis fuga? Facilis ipsum error optio quisquam dolore nulla assumenda,
    facere laudantium. Quaerat laborum magni ut numquam optio eum impedit
    provident sunt. Magnam cupiditate ipsa numquam neque veritatis placeat
    dolore, rerum assumenda? Sed accusantium autem totam sit debitis et harum
    reiciendis nesciunt vel veniam, fugit at ducimus consequatur possimus
    exercitationem quae dolorum modi, dolor officia sapiente eum ipsam. Natus
    debitis illum facilis!
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
