---
import Background from "../components/Background.astro";
import Layout from "../layouts/Layout.astro";
import { getWorks } from "../scripts/contentful";
const works = await getWorks();
---

<Layout title="Escentier">
  <!-- <div class="fixed" id="bg-canvas-container"></div> -->
  <main class="min-h-screen"></main>
  <Background works={works} />
  <!-- {
    entries.map((item) => (
      <section class="text-white hidden">
        <h2>{item.fields.title}</h2>
        <article set:html={documentToHtmlString(item.fields.content)} />
        <img src={`http:${(item as any).fields.preview.fields.file.url}`} />
      </section>
    ))
  } -->
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
