---
import Background from "../components/Background.astro";
import Layout from "../layouts/Layout.astro";
import { getWorks } from "../scripts/contentful";
const works = await getWorks();
---

<Layout title="Escentier">
  <main class="min-h-screen"></main>
  <Background works={works} />
  <div class="section"></div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .section {
    height: 200vh;
    background-color: rgba(var(--blue), 0.2);
  }
</style>
