---
const { works } = Astro.props;
---

<div
  class="fixed top-0 -z-10"
  id="bg-canvas-container"
  data-works={JSON.stringify(works)}
>
</div>

<script>
  import {
    createScene,
    createObj,
    loadTexture,
    loadVideoTexture,
  } from "../scripts/webgl";

  const BG_VIDEO_NAME = "Miko-Ika";

  async function main() {
    const width = window.innerWidth;
    const height = window.innerHeight;

    const container = document.querySelector("#bg-canvas-container");
    const entries = JSON.parse((container as HTMLElement).dataset.works!);
    const bgVideo = entries.find((e: any) => e.name === BG_VIDEO_NAME);
    const filePath = bgVideo.file.url;
    const imageURL = `http:${filePath}`;

    const { animate, canvas, scene, camera } = createScene({
      width,
      height,
      debug: true,
    });
    const videoTexture = loadVideoTexture(imageURL);
    createObj(scene, videoTexture);

    container!.appendChild(canvas);
    animate();
  }
  main();
</script>
